@import './settings.styles.scss';

body{
    font-family: Montserrat;
    background-color: $main-color;
    color: $font-main-color;
    margin: 0;
}

*{
    box-sizing: border-box;
}

h4{

    margin: 0 0 10px;
}